.mainpage02-container {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-color: $black900;
    content: "";
  }
  .pixel-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -50;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .pixel {
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: 100%;
    animation: fall linear forwards;
  }
  @keyframes fall {
    0% {
      bottom: 100%;
      opacity: 1;
    }
    100% {
      bottom: 0;
      opacity: 1;
    }
  }
  .content-wrap {
    padding: 100px 0 0 0;
    .wrapper {
      display: flex;
      flex-direction: column;
      .title-wrap {
      }

      .sub-text-wrapper,
      .focus-keyword-wrapper {
        overflow: hidden;
        height: 1.2em; /* 폰트 크기에 맞춰 텍스트 한 줄 높이로 설정 */
        transform-style: preserve-3d; /* 내부 요소가 3D 공간에 존재하도록 설정 */
        display: block;
      }

      .sub-text,
      .dynamic-word {
        display: block;
        /* 회전의 중심점을 텍스트의 중간에 위치시켜 깔끔한 회전을 유도 */
        transform-origin: 50% 50%;
        backface-visibility: hidden; /* 회전 시 뒷면 깜빡임 방지 */
      }
      .title-wrap {
        display: flex;
        flex-direction: column;
        perspective: 800px;
        .static-text {
          font-size: 5.5rem;
          color: #fff;
          &.text-r {
            text-align: right;
          }
        }
        .sub-text-wrapper {
          overflow: hidden;
          height: 3rem; /* sub-text 폰트 크기에 맞춰야 합니다. */
          transform-style: preserve-3d; /* 3D 공간 활성화 */
          display: block;
        }
        .sub-text {
          font-size: 3rem;
          color: #fff;
          display: block;
          transform-origin: 50% 50%; /* 회전 중심점 */
          backface-visibility: hidden;
        }
        .focus-keyword {
          display: flex;
          justify-content: flex-start;
          align-items: baseline;
          gap: 30px;
          width: 100%;
          min-height: 20rem;
          .dynamic-word {
            position: relative;
            display: inline-flex;
            align-items: center;
            font-size: 20rem;
            line-height: 1;
            letter-spacing: 1rem;
            color: #fff;
            text-shadow: 15px 4px 0 #004bf0;
            // text-shadow: -4px -4px 0 $blue400, 4px -4px 0 $blue400,
            //   -4px 4px 0 $blue400, 4px 4px 0 $blue400, 8px 8px 0 $blue600;
            padding-right: 3rem;
            &::after {
              content: "";
              width: 10px;
              height: 15rem;
              display: inline-block;
              background-color: #fff;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translate(0, -50%);
              animation: blink-cursor 0.7s step-end infinite;
            }
            &:empty::after {
              opacity: 1;
              animation: blink-cursor 0.7s step-end infinite;
            }
            &.is-typing::after {
              opacity: 0 !important;
              animation: none !important;
            }
          }
        }
        @keyframes blink-cursor {
          0%,
          100% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .mainpage-container {
    .content-wrap {
      .wrapper {
        .title-wrap {
          .static-text {
            font-size: 4rem;
          }
          .focus-keyword {
            gap: 10px;
            margin-left: 0;
            span {
              font-size: 13rem;
              div {
                font-size: 13rem;
              }
            }
          }
        }
      }
    }
  }
}
