.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  // border-bottom: 1px solid #fff;
  background: rgba(233, 233, 233, 0.1);
  backdrop-filter: blur(10px);
  .index-home {
    display: none;
  }
  &.main {
    background: rgba(217, 217, 217, 0);
    backdrop-filter: blur(0);
    border-radius: 0;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
    .wrapper {
      justify-content: center;
      .home-btn {
        .home-icon {
          display: none;
        }
        span {
          &.home-title {
            display: none;
          }
          &.main-title {
            display: block;
            color: #fff;
          }
        }
      }
      .header-logo {
        display: none;
      }
      .nav {
        display: none;
      }
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    .header-logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      h1 {
        font-size: 15px;
      }
    }
    .home-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      .home-icon {
        width: 24px;
        aspect-ratio: 1 / 1;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .dot-icon {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        aspect-ratio: 1/1;
        background-color: $black900;
      }
      .home-title {
        display: block;
        &.text-wrapper {
          position: relative;
          overflow: hidden;
          height: 20px;
          span {
            display: block;
            font-size: 18px;
            line-height: 1;
            transition: transform 0.3s ease-out;
            color: $black900;
            &.original-text {
              transform: translateY(0);
            }
            &.hover-text {
              transform: translateY(0);
            }
          }
        }
      }
      span {
        font-size: 20px;
        color: $black900;
        &.main-title {
          display: none;
        }
      }
      &:hover {
        .text-wrapper {
          span {
            &.original-text {
              transform: translateY(-100%);
            }
            &.hover-text {
              transform: translateY(-100%);
            }
          }
        }
      }
    }
    .nav {
      ul {
        display: flex;
        align-items: center;
        gap: 45px;
        li {
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .dot-icon {
              width: 8px;
              height: 8px;
              border-radius: 1px;
              aspect-ratio: 1/1;
              background-color: $black900;
            }
            .text-wrapper {
              position: relative;
              overflow: hidden;
              height: 18px;
              span {
                display: block;
                font-size: 18px;
                line-height: 1;
                transition: transform 0.3s ease-out;
                color: $black900;
                &.original-text {
                  transform: translateY(0);
                }
                &.hover-text {
                  transform: translateY(0);
                }
              }
            }
            &:hover {
              .text-wrapper {
                span {
                  &.original-text {
                    transform: translateY(-100%);
                  }
                  &.hover-text {
                    transform: translateY(-100%);
                  }
                }
              }
            }
            &.on {
              .dot-icon {
                background-color: $blue500;
              }
              .text-wrapper {
                span {
                  color: $blue500;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .header {
    .wrapper {
      .home-btn {
        display: none;
      }
      .header-logo {
        display: block;
      }
    }
    &.main {
      .wrapper {
        .header-logo {
          display: block;
          color: #fff;
          white-space: nowrap;
        }
      }
    }
  }
}
