.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  border-bottom: 1px solid #fff;
  background: rgba(233, 233, 233, 0.5);
  backdrop-filter: blur(5px);
  .index-home {
    display: none;
  }
  &.main {
    background: rgba(217, 217, 217, 0);
    backdrop-filter: blur(0);
    border-radius: 0;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
    .wrapper {
      // justify-content: ã„¹;
      .home-btn {
        .home-icon {
          display: none;
        }
        span {
          &.home-title {
            display: none;
          }
          &.main-title {
            display: block;
            color: #fff;
          }
        }
      }
      .header-logo {
        display: none;
      }
      .nav {
        display: none;
      }
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    .header-logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      h1 {
        font-size: 25px;
      }
    }
    .home-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      .home-icon {
        width: 24px;
        aspect-ratio: 1 / 1;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      span {
        font-size: 20px;
        color: $black900;
        &.home-title {
          display: block;
        }
        &.main-title {
          display: none;
        }
      }
    }
    .nav {
      ul {
        display: flex;
        align-items: center;
        gap: 45px;
        li {
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .dot-icon {
              width: 10px;
              height: 10px;
              border-radius: 1px;
              aspect-ratio: 1/1;
              background-color: $black900;
            }
            .text-wrapper {
              position: relative;
              overflow: hidden;
              height: 25px;
              span {
                display: block;
                font-size: 20px;
                line-height: 1;
                transition: transform 0.3s ease-out;
                color: $black900;
                &.original-text {
                  transform: translateY(0);
                }
                &.hover-text {
                  font-size: 23px;
                  transform: translateY(0);
                }
              }
            }
            &:hover {
              .text-wrapper {
                span {
                  &.original-text {
                    transform: translateY(-100%);
                  }
                  &.hover-text {
                    transform: translateY(-100%);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
}
