$mainpink: #ff017e;
$mainblue: #004bf0;
$maingreen: #c3e62a;
$black50: #e9e9e9;
$black100: #bababa;
$black200: #999999;
$black300: #6b6b6b;
$black400: #4e4e4e;
$black500: #222222;
$black600: #1f1f1f;
$black700: #181818;
$black800: #131313;
$black900: #0e0e0e;
$blue50: #e6edfe;
$blue100: #b0c7fa;
$blue200: #8aacf8;
$blue300: #5486f5;
$blue400: #336ff3;
$blue500: #004bf0;
$blue600: #0044da;
$blue700: #0035aa;
$blue800: #002984;
$blue900: #002065;
$black: #000000;
$white: #ffffff;

.text-primary {
  color: #004bf0 !important;
}

// 프리텐다드
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* JetBrains Mono */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* JetBrains Mono */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "Neodgm";
  font-weight: 400;
  font-style: normal;
  src: local("neodgm"), url("../assets/fonts/neodgm.woff2") format("woff2"),
    url("../assets/fonts/neodgm.woff") format("woff");
  font-kerning: normal;
  font-feature-settings: "kern" on;
  font-display: swap;
}
@font-face {
  font-family: "NeoDunggeunmoPro";
  font-weight: 400;
  font-style: normal;
  src: local("neodgm_pro"),
    url("../assets/fonts/NeoDunggeunmoPro-Regular.woff2") format("woff2"),
    url("../assets/fonts/NeoDunggeunmoPro-Regular.woff") format("woff");
  font-display: swap;
}

.font_neodgm {
  font-family: "Neodgm", monospace !important;
}
.font_neodgm_pro {
  font-family: "NeoDunggeunmoPro", monospace !important;
}
.font_JetBrains {
  font-family: "JetBrains Mono", monospace !important;
}
.font_ibm {
  font-family: "IBM Plex Mono", monospace !important;
}
.font_italic {
  font-style: italic;
}
.font_400 {
  // font-family: "Pretendard", sans-serif;
  font-weight: 400;
}
.font_500 {
  // font-family: "Pretendard", sans-serif;
  font-weight: 500;
}
.font_600 {
  // font-family: "Pretendard", sans-serif;
  font-weight: 600;
}
.font_700 {
  // font-family: "Pretendard", sans-serif;
  font-weight: 700;
}
.font_800 {
  // font-family: "Pretendard", sans-serif;
  font-weight: 800;
}
.font_900 {
  // font-family: "Pretendard", sans-serif;
  font-weight: 900;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
//img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  line-height: 1.25;
  border: 0;
  font-weight: 400;
  font-family: "Pretendard", sans-serif;
  font-weight: inherit;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #0e0e0e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 62.5%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  word-break: keep-all;
  scroll-behavior: smooth;
  color: #0e0e0e;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  line-height: 0;
  // vertical-align: bottom;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

address,
em {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
  font-size: inherit;
  font-weight: inherit;
}

input,
button,
select {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 0;
}

table caption {
  display: none;
}

fieldset {
  border: 0;
}

legend {
  display: none;
}

@media (max-width: 1280px) {
  html,
  body {
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  html,
  body {
    font-size: 45%;
  }
}
