.wrapper {
  width: 100%;
  padding: 0 80px;
  max-width: 2000px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 20px;
  }
}
