.wrapper {
  width: 100%;
  padding: 0 80px;
  max-width: 2000px;
  margin: 0 auto;
}

.scroll-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  span {
    font-size: 15px;
    color: $black900;
    animation: scroll_bounce 1.5s ease-in-out infinite;
  }
  .icon {
    width: 24px;
    aspect-ratio: 1 / 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      animation: scroll_bounce 1.5s ease-in-out infinite;
    }
  }
}

@keyframes scroll_bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
}

@media (max-width: 1280px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 20px;
  }
}
